#let git-status ignore these files
usrpSVN/
*.o
*~
*.swp
*.pyc
programs/Analyze/binary.dat
programs/Run/config
programs/Config/java
programs/Plotter/build
tests/bin
docs/html
work/
simulation/
install-headers
programs/java/.classpath
programs/java/.project
programs/java/classes
