[submodule "deps/hdf5r"]
	path = deps/hdf5r
	url = git://github.com/rseal/HDF5R.git
[submodule "deps/clp"]
	path = deps/clp
	url = git://github.com/rseal/CommandLineParser.git
[submodule "deps/jzmq"]
	path = deps/jzmq
	url = https://github.com/zeromq/jzmq.git
