#USRP REV 0.99 CONFIGURATION FILE
DATE = 07/09/2008

#Number of channels 
Channels = 2

#Sample rate for External clock 
SampleRate = 64 MHz

#Bandwidth per channel 
Bandwidth = 1 MHz

#Inter pulse period
IPP = 1 ms

#Data Window
data_window = 70 km

#Transmitter Window
tx_window = 500 usec

#Noise Window
noise_window = 200-205 km

#Base file name for data set
SetName = Test

